form, table {
    margin-left: auto;
    margin-right: auto;
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

h1 {
    text-align: center;
}

.form {
    padding-top: 25px;
    border: 1px solid #ddd;
    width: auto;
    height: auto;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #ddd;
  }

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

input[type=text] {
    border: 1px solid rgb(187, 187, 187);
    width: auto;
    padding: 12px 0px;
    margin: 10px 80px;
    margin-left: 10px;
    box-sizing: border-box;
  }

button {
    background-color: white;
    color: black;
    border: 2px solid rgb(187, 187, 187);
}

button:hover {
    background-color: rgb(187, 187, 187);
}

input[type=submit] {
    background-color: white;
    color: black;
    border: 2px solid rgb(187, 187, 187);
    margin-top: 8px;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 20%;
    height: 40px;
    display: inline-block;
    

}

input[type=submit]:hover {
    background-color: rgb(187, 187, 187);
}


.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }


/*antd*/
  #components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }