table {
	width: 100%;
}

a {
	text-decoration:none;
}

h1.judul {
	text-align: center;
}

div.bingkai {
	border-style: solid;
	border-width: 1px;
	border-color: #C8C8C8;
	padding: 10px;
}

div.background-color {
	background-color: white;
}

#article-list {
	padding: 10px;
}

.navbar {
	width: 100%;
	font-color: black;
	background-color:  white;
	height: 74px;
}

.navbar .container {
	max-width: 100%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

nav {
	display: flex;
}

nav ul {
	display: flex;
	margin-right: 10px;
}

nav ul li {
	list-style: none;
}

td ul li {
	list-style: none;
	padding: 0px;
}

#ul1 {
	padding
}

nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 17px;
	margin: 0px 10px;
}