.App {
  text-align: center;
  background-color: white;
  width: 220px;
  height: 300px;
  display: 'flex';
  justify-content:'center';
  align-items:'center';
}

.div1 {
  border-bottom: 1px solid rgb(196, 196, 196);
  margin-left: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.Button {
  background-color: rgb(8,188,252);
  border: none;
  color: white;
  font-size: 10px;
  width: 215px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
  padding: 2px;
  width: 210px;
}

.Button:active {
  background-color: red;
}

.p0 {
  display: inline-block;
  margin: 0px;
}

img {
  margin-top: 5px;
}

.list {
  font-size: 10px;
  text-align: left;
}

.Box {
  box-shadow: 0px 5px 10px rgb(221, 221, 221);
  margin: auto;
  margin-top: 15px;
  width: 30%;
}

.p1 {
  color: grey;
  font-size: 17px;
  margin-bottom: 0px;
  margin-left: 5px;
  text-align: left;
  padding: 5px;
}

.p2 {
  color: black;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 2.5px;
  font-size: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  border-bottom: 1.2px solid rgb(177, 177, 177);

}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
